/* 
  This CSS is specific to screen display
*/

body{
  font-size: 1em;
}
:root{
  --figure-width: 25rem;
}

.content { display: flex; flex-direction: column; }
/* flex permet de ré-ordonner arbitrairement les éléments */
.cover-1  { order: 1; }
.cover-2 { order: 4; }
.text { order: 3; }
.cover-4 { order: 2; }

.hide-on-screen {display: none;}

/*  1re de couverture => figure */

.cover-1 {
  display: flex;
  align-items: center;
  min-height: 75vh; 
  color: white;
  background: rgb(32, 32, 32); 
  background: radial-gradient(circle at 0% 33%, #F69, #00F);
  width: 100%;
  padding: 2em 0;
}
.cover-4 {
  display: flex;
  align-items: center;
  min-height: 75vh; 
  color: white;
  width: 100%;
  padding: 2em 2em 2em var(--figure-width);
  position: absolute;
}
.colophon {display: none;}
.cover-4 h1 { font-weight: bold; line-height: 1; font-size: 1.5em; margin: 0; font-family: "Redaction-20";}
.cover-4 h2 { font-weight: normal; line-height: 1; font-size: 1.5em; margin: 0; font-family: "Redaction-35";}
.cover-4 h3 { font-weight: normal; line-height: 1;}
.cover-4 h3::before { content: "~ ";}

/*  2e de couverture => figure */

.text, .cover-2 {
  line-height: 1.5;
  margin: 2em 2em 2em var(--figure-width);
  max-width: 43rem;
  font-size: 1.3em;
  line-height: 1.35;
  color: #555;
}

.cover-2 {
  font-size: 1em;
}

figure {
  font-size: .5em;
  line-height: 1;
  font-family: "JetBrainsMono";
  font-weight: bold;
  width: var(--figure-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}
