
/* Custom properties (= variables) */
:root{
  --typesize: 12px;
  --lineheight: 17px;
}


/* common */

body{
  font-family: "Redaction";
  font-size: var(--typesize);
  line-height: var(--lineheight);
  margin:0;
}

p {
  font-weight: 400;
  margin-top: 0;
}


/* debug grid: add "debug" class to body */

.debug .text p {
  background: rgba(0,255,255,.2);
}
.debug .text{
  background: repeating-linear-gradient(
    to bottom,
    cyan,
    cyan 1px,
    transparent 1px,
    transparent var(--lineheight)
  );
}

 

/* folios */
.📖-running-header {
  font-family: "Redaction-50";
  position: absolute;
  bottom: var(--bindery-margin-top);
  top: auto !important;
  font-size: 0.5em;
  z-index: 100;
}

.📖-right .📖-running-header {
  left: var(--bindery-margin-inner);
  right: auto !important;
  
}
.📖-left .📖-running-header{
  right: var(--bindery-margin-inner);
  left: auto !important;
}


/* text */

.text h4, .text h3 {
  font-family: "Redaction-35";
  font-size: calc(var(--typesize) * 2 );
  font-weight: 400;
  margin: calc(var(--lineheight) * 2 ) 0 var(--lineheight);
  
}
#start{ padding-top: calc(var(--lineheight) * 11 );}

.text p {
  margin: 0 0 var(--lineheight);
}
.text p + h3,
.text p + h4 {
  font-size: 2em;
}


/* couv */
.cover-1 {
  height: calc(var(--bindery-page-height) - var(--bindery-margin-top)  - var(--bindery-margin-bottom) - .5cm);
  height: 20cm;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-1 figure { 
  text-align: center;
  font-family: "JetBrainsMono";
  font-weight: bold;
  font-size: .6em;
  line-height: 1.4;
}

/* colophon */
.cover-2 h1 { line-height: 1.1; margin-bottom: .25em;}
.cover-2 {
  width: 6.5cm;
  font-size: 8pt;
}


/* 4e de couv */
.cover-4 {
  position: relative;
  height: calc(var(--bindery-page-height) - var(--bindery-margin-top)  - var(--bindery-margin-bottom) - .5cm);
}
.cover-4 div{
  /* useful empty div, remember? */
  height: calc(var(--bindery-page-height) - var(--bindery-margin-top)  - var(--bindery-margin-bottom) - .5cm);
}
.cover-4  hgroup {
  bottom: 0;
  left: 0;
  position: absolute;
  writing-mode: vertical-rl; 
  transform: rotate(-180deg); 
}
.cover-4  h1 {
    margin: 0;
    font-size: 1em;
    font-family: "Redaction-70";
}
.cover-4  h2, .cover-4  h3 {
  font-size: 1em;
  margin: 0;
  font-weight: 400;
  font-family: "Redaction-35";
}
.cover-4  h2 { padding-top: .5cm;}


/* howto */
.howto {
  height: calc(var(--bindery-page-height) - var(--bindery-margin-top)  - var(--bindery-margin-bottom) - .5cm);
}
.howto ol { 
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.howto li {
  display: flex;
  align-items: center;
  margin: 0;
}
.howto p {
  padding-right: 1cm;
  margin: 0 0 1em;
}
.howto img { 
  height: 2cm;
}