
Header always unset X-Frame-Options
Header set Content-Security-Policy "frame-ancestors 'self' http://localhost https://*.esad-pyrenees.fr"

RewriteEngine On

AddType video/ogg .ogm
AddType video/ogg .ogv
AddType video/ogg .ogg
AddType video/ogg .ogv
AddType video/webm .webm

AddDefaultCharset utf-8
AddCharset UTF-8 .html .css .js

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !=localhost
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RewriteBase /web/

# open graph protocol
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_URI} medias/(.*)/$
RewriteCond %{QUERY_STRING} ^text=(.*)$
RewriteRule ^medias/(.*)/ogp.png$ ogimage.php?params=$1 [QSA,L]

# archives
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^archives/(.*)/  pages/archives/index.php?params=$1 [L]
RewriteRule ^archives/$  pages/archives/index.php [L]

# Specials
RewriteRule pages/ressources/html2print(.*)  pages/ressources/ctrl-alt-print$1 [R,L]
RewriteRule pages/8m(.*) pages/culturenum/8m$1 [R,L]
RewriteRule pages/12o(.*) pages/culturenum/12o$1 [R,L]

# Redirections
RewriteRule pages/references/gopro(.*) pages/gopro$1 [R,L]
RewriteRule pages/references/htmlcss(.*) pages/ressources/html/ailleurs$1 [R,L]
RewriteRule pages/references/typo(.*) pages/ressources/typo/fonderies$1 [R,L]
RewriteRule pages/references/ecrituresnumeriques(.*) pages/culturenum/ecrituresnumeriques$1 [R,L]
RewriteRule pages/references/webdocumentaire(.*) pages/culturenum/ecrituresnumeriques$1 [R,L]
RewriteRule pages/references/visite(.*) pages/culturenum/visite$1 [R,L]
RewriteRule pages/references/histoire(.*) pages/culturenum/histoires$1 [R,L]
RewriteRule pages/ressources/rwd(.*) pages/ressources/css/rwd$1 [R,L]
RewriteRule pages/ressources/python/mkdocs(.*) pages/ressources/mkdocs$1 [R,L]


# Test rwd
RewriteRule   "^pages/lectures(.+)"  "https://radicalweb.design/ressources/lectures$1"  [R=301,L]
RewriteRule   "^pages/outils(.+)"  "https://radicalweb.design/ressources/outils$1"  [R=301,L]

# Iframes
# Header set Content-Security-Policy "frame-ancestors 'self' https://slides.accentgrave.net"


# home
RewriteRule ^$  pages/home.php [L]
RewriteRule ^pages/$  pages/home.php [L]



# rwd

# About
RewriteRule   "^web/about/$"  "https://radicalweb.design/about/"  [R=302,L]
RewriteRule   "^web/about$"  "https://radicalweb.design/about/"  [R=302,L]

# Exemples
RewriteRule   "^web/pages/exemples(.+)"  "https://radicalweb.design/exemples$1"  [R=302,L]

# Ressources
RewriteRule   "^web/pages/lectures(.+)"  "https://radicalweb.design/ressources/lectures$1"  [R=302,L]
RewriteRule   "^web/pages/outils(.+)"  "https://radicalweb.design/ressources/outils$1"  [R=302,L]
RewriteRule   "^web/pages/ressources/audiovideo(.+)"  "https://radicalweb.design/ressources/html/audiovideo$1"  [R=302,L]
RewriteRule   "^web/pages/ressources/flexbox(.+)"  "https://radicalweb.design/ressources/css/flexbox$1"  [R=302,L]
RewriteRule   "^web/pages/ressources/grid(.+)"  "https://radicalweb.design/ressources/css/grid$1"  [R=302,L]
RewriteRule   "^web/pages/ressources/js/jquery.php"  "https://radicalweb.design/ressources/js/jquery/"  [R=302,L]
RewriteRule   "^web/pages/ressources/files$"  "https://radicalweb.design/ressources/python/files/"  [R=302,L]
RewriteRule   "^web/pages/ressources/strings$"  "https://radicalweb.design/ressources/python/strings/"  [R=302,L]
RewriteRule   "^web/pages/ressources/lists$"  "https://radicalweb.design/ressources/python/lists/"  [R=302,L]
RewriteRule   "^web/pages/ressources/mkdocs/$"  "https://radicalweb.design/ressources/python/mkdocs/"  [R=302,L]
RewriteRule   "^web/pages/ressources/positions$"  "https://radicalweb.design/ressources/css/positions$1"  [R=302,L]
RewriteRule   "^web/pages/ressources/pratique$"  "https://radicalweb.design/ressources/css/pratique$1"  [R=302,L]
RewriteRule   "^web/pages/ressources/rwd"  "https://radicalweb.design/ressources/css/rwd$1"  [R=302,L]
RewriteRule   "^web/pages/ressources/rwd/flexbox"  "https://radicalweb.design/ressources/css/flexbox$1"  [R=302,L]
RewriteRule   "^web/pages/ressources/rwd/grid"  "https://radicalweb.design/ressources/css/grid$1"  [R=302,L]
RewriteRule   "^web/pages/ressources/typo/opentype/"  "https://radicalweb.design/ressources/typo/macromicro$1"  [R=302,L]
RewriteRule   "^web/pages/ressources(.+)"  "https://radicalweb.design/ressources$1"  [R=302,L]

# culturenum
RewriteRule   "^web/pages/culturenum(.+)"  "https://radicalweb.design/projets/culturesnum$1"  [R=302,L]

# culturetech
RewriteRule   "^web/pages/culturetech(.+)"  "https://radicalweb.design/projets/culturetech$1"  [R=302,L]

# Projets
RewriteRule   "^web/pages/projets(.+)"  "https://radicalweb.design/projets$1"  [R=302,L]

# (old) Références
RewriteRule   "^web/pages/references/foundries(.+)"  "https://radicalweb.design/ressources/typo/foundries$1"  [R=302,L]
RewriteRule   "^web/pages/references/histoire/machines(.+)"  "https://radicalweb.design/projets/culturesnum/histoires/machines$1"  [R=302,L]
RewriteRule   "^web/pages/references/histoire/docs(.+)"  "https://radicalweb.design/projets/culturesnum/histoires/docs$1"  [R=302,L]
RewriteRule   "^web/pages/references/histoire/internet(.+)"  "https://radicalweb.design/projets/culturesnum/histoires/internet$1"  [R=302,L]
RewriteRule   "^web/pages/references/histoire(.+)"  "https://radicalweb.design/projets/culturesnum/histoires$1"  [R=302,L]
RewriteRule   "^web/pages/references/typo(.+)"  "https://radicalweb.design/ressources/typo$1"  [R=302,L]
RewriteRule   "^web/pages/references/webdocumentaire(.+)"  "https://radicalweb.design/projets/culturesnum/ecrituresnumeriques$1"  [R=302,L]

# Go pro
RewriteRule   "^web/pages/gopro$"  "https://radicalweb.design/projets/gopro/"  [R=302,L]
RewriteRule   "^web/pages/gopro/2324$"  "https://radicalweb.design/projets/gopro/2324/"  [R=302,L]
RewriteRule   "^web/pages/gopro/2324/20231009_MC_Rapport.pdf "https://radicalweb.design/projets/gopro/2324/argent/20231009_MC_Rapport.pdf"  [R=302,L]
RewriteRule   "^web/pages/gopro/2324/all-caps_capitalism.pdf "https://radicalweb.design/projets/gopro/2324/argent/all-caps_capitalism.pdf"  [R=302,L]
RewriteRule   "^web/pages/gopro/2324/argent$"  "https://radicalweb.design/projets/gopro/2324/argent/"  [R=302,L]
RewriteRule   "^web/pages/gopro/2324/chevalvert$"  "https://radicalweb.design/projets/gopro/2324/chevalvert/"  [R=302,L]
RewriteRule   "^web/pages/gopro/2324/copiezcelivre$"  "https://radicalweb.design/projets/gopro/2324/copiezcelivre/"  [R=302,L]
RewriteRule   "^web/pages/gopro/2324/expectations$"  "https://radicalweb.design/projets/gopro/2324/expectations/"  [R=302,L]
RewriteRule   "^web/pages/gopro/2324/expectations.php$"  "https://radicalweb.design/projets/gopro/2324/expectations/"  [R=302,L]
RewriteRule   "^web/pages/gopro/2324/labuse$"  "https://radicalweb.design/projets/gopro/2324/labuse/"  [R=302,L]
RewriteRule   "^web/pages/gopro/2425(.+)$"  "https://radicalweb.design/projets/gopro/2425$1"  [R=302,L]
RewriteRule   "^web/pages/gopro/charte-afd-des-marches-publics-de-design-4e-edition.pdf"  "https://radicalweb.design/projets/gopro/2425/docs/charte-afd-des-marches-publics-de-design-4e-edition.pdf"  [R=302,L]
RewriteRule   "^web/pages/gopro/dites-non-aux-idees-gratuites.pdf"  "https://radicalweb.design/projets/gopro/2425/docs/dites-non-aux-idees-gratuites.pdf"  [R=302,L]
RewriteRule   "^web/pages/gopro/guide-de-la-commande-de-design-graphique.pdf"  "https://radicalweb.design/projets/gopro/2425/docs/guide-de-la-commande-de-design-graphique.pdf"  [R=302,L]
RewriteRule   "^web/pages/gopro(.+)"  "https://radicalweb.design/projets/gopro$1"  [R=302,L]


