
RewriteEngine On


RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !=localhost
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RewriteBase /web/

# open graph protocol
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} medias/(.*)/$
RewriteRule ^medias/(.*)/ogp.png$  ogimage.php?params=$1 [L]

# archives
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^archives/(.*)/  pages/archives/index.php?params=$1 [L]
RewriteRule ^archives/$  pages/archives/index.php [L]

# home
RewriteRule ^$  pages/home.php [L]
RewriteRule ^pages/$  pages/home.php [L]
