
RewriteEngine On

AddType video/ogg .ogm
AddType video/ogg .ogv
AddType video/ogg .ogg
AddType video/ogg .ogv
AddType video/webm .webm

AddDefaultCharset utf-8
AddCharset UTF-8 .html .css .js

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !=localhost
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RewriteBase /web/

# open graph protocol
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_URI} medias/(.*)/$
RewriteCond %{QUERY_STRING} ^text=(.*)$
RewriteRule ^medias/(.*)/ogp.png$ ogimage.php?params=$1 [QSA,L]

# archives
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^archives/(.*)/  pages/archives/index.php?params=$1 [L]
RewriteRule ^archives/$  pages/archives/index.php [L]

# Specials
RewriteRule pages/ressources/html2print(.*)  pages/ressources/ctrl-alt-print$1 [R,L]
RewriteRule pages/8m(.*) pages/culturenum/8m$1 [R,L]

# Iframes
# Header set Content-Security-Policy "frame-ancestors 'self' https://slides.accentgrave.net"



# home
RewriteRule ^$  pages/home.php [L]
RewriteRule ^pages/$  pages/home.php [L]
