body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-shadow:2px 2px 2px rgba(0,0,0,.2);
  color:white;
  height: 100vh;
  margin: 0;
  text-align: center;
}
strong{
  font-size: 8vw;
}
@media (min-width:300px){body{background:IndianRed}}
@media (min-width:309px){body{background:LightCoral}}
@media (min-width:319px){body{background:Salmon}}
@media (min-width:328px){body{background:DarkSalmon}}
@media (min-width:338px){body{background:LightSalmon}}
@media (min-width:348px){body{background:Crimson}}
@media (min-width:357px){body{background:Red}}
@media (min-width:367px){body{background:FireBrick}}
@media (min-width:377px){body{background:DarkRed}}
@media (min-width:386px){body{background:Pink}}
@media (min-width:396px){body{background:LightPink}}
@media (min-width:406px){body{background:HotPink}}
@media (min-width:415px){body{background:DeepPink}}
@media (min-width:425px){body{background:MediumVioletRed}}
@media (min-width:435px){body{background:PaleVioletRed}}
@media (min-width:444px){body{background:LightSalmon}}
@media (min-width:454px){body{background:Coral}}
@media (min-width:464px){body{background:Tomato}}
@media (min-width:473px){body{background:OrangeRed}}
@media (min-width:483px){body{background:DarkOrange}}
@media (min-width:493px){body{background:Orange}}
@media (min-width:502px){body{background:Gold}}
@media (min-width:512px){body{background:Yellow}}
@media (min-width:521px){body{background:LightYellow}}
@media (min-width:531px){body{background:LemonChiffon}}
@media (min-width:541px){body{background:LightGoldenrodYellow}}
@media (min-width:550px){body{background:PapayaWhip}}
@media (min-width:560px){body{background:Moccasin}}
@media (min-width:570px){body{background:PeachPuff}}
@media (min-width:579px){body{background:PaleGoldenrod}}
@media (min-width:589px){body{background:Khaki}}
@media (min-width:599px){body{background:DarkKhaki}}
@media (min-width:608px){body{background:Lavender}}
@media (min-width:618px){body{background:Thistle}}
@media (min-width:628px){body{background:Plum}}
@media (min-width:637px){body{background:Violet}}
@media (min-width:647px){body{background:Orchid}}
@media (min-width:657px){body{background:Fuchsia}}
@media (min-width:666px){body{background:Magenta}}
@media (min-width:676px){body{background:MediumOrchid}}
@media (min-width:686px){body{background:MediumPurple}}
@media (min-width:695px){body{background:RebeccaPurple}}
@media (min-width:705px){body{background:BlueViolet}}
@media (min-width:714px){body{background:DarkViolet}}
@media (min-width:724px){body{background:DarkOrchid}}
@media (min-width:734px){body{background:DarkMagenta}}
@media (min-width:743px){body{background:Purple}}
@media (min-width:753px){body{background:Indigo}}
@media (min-width:763px){body{background:SlateBlue}}
@media (min-width:772px){body{background:DarkSlateBlue}}
@media (min-width:782px){body{background:MediumSlateBlue}}
@media (min-width:792px){body{background:GreenYellow}}
@media (min-width:801px){body{background:Chartreuse}}
@media (min-width:811px){body{background:LawnGreen}}
@media (min-width:821px){body{background:Lime}}
@media (min-width:830px){body{background:LimeGreen}}
@media (min-width:840px){body{background:PaleGreen}}
@media (min-width:850px){body{background:LightGreen}}
@media (min-width:859px){body{background:MediumSpringGreen}}
@media (min-width:869px){body{background:SpringGreen}}
@media (min-width:879px){body{background:MediumSeaGreen}}
@media (min-width:888px){body{background:SeaGreen}}
@media (min-width:898px){body{background:ForestGreen}}
@media (min-width:907px){body{background:Green}}
@media (min-width:917px){body{background:DarkGreen}}
@media (min-width:927px){body{background:YellowGreen}}
@media (min-width:936px){body{background:OliveDrab}}
@media (min-width:946px){body{background:Olive}}
@media (min-width:956px){body{background:DarkOliveGreen}}
@media (min-width:965px){body{background:MediumAquamarine}}
@media (min-width:975px){body{background:DarkSeaGreen}}
@media (min-width:985px){body{background:LightSeaGreen}}
@media (min-width:994px){body{background:DarkCyan}}
@media (min-width:1004px){body{background:Teal}}
@media (min-width:1014px){body{background:Aqua}}
@media (min-width:1023px){body{background:Cyan}}
@media (min-width:1033px){body{background:LightCyan}}
@media (min-width:1043px){body{background:PaleTurquoise}}
@media (min-width:1052px){body{background:Aquamarine}}
@media (min-width:1062px){body{background:Turquoise}}
@media (min-width:1072px){body{background:MediumTurquoise}}
@media (min-width:1081px){body{background:DarkTurquoise}}
@media (min-width:1091px){body{background:CadetBlue}}
@media (min-width:1100px){body{background:SteelBlue}}
@media (min-width:1110px){body{background:LightSteelBlue}}
@media (min-width:1120px){body{background:PowderBlue}}
@media (min-width:1129px){body{background:LightBlue}}
@media (min-width:1139px){body{background:SkyBlue}}
@media (min-width:1149px){body{background:LightSkyBlue}}
@media (min-width:1158px){body{background:DeepSkyBlue}}
@media (min-width:1168px){body{background:DodgerBlue}}
@media (min-width:1178px){body{background:CornflowerBlue}}
@media (min-width:1187px){body{background:MediumSlateBlue}}
@media (min-width:1197px){body{background:RoyalBlue}}
@media (min-width:1207px){body{background:Blue}}
@media (min-width:1216px){body{background:MediumBlue}}
@media (min-width:1226px){body{background:DarkBlue}}
@media (min-width:1236px){body{background:Navy}}
@media (min-width:1245px){body{background:MidnightBlue}}
@media (min-width:1255px){body{background:Cornsilk}}
@media (min-width:1265px){body{background:BlanchedAlmond}}
@media (min-width:1274px){body{background:Bisque}}
@media (min-width:1284px){body{background:NavajoWhite}}
@media (min-width:1293px){body{background:Wheat}}
@media (min-width:1303px){body{background:BurlyWood}}
@media (min-width:1313px){body{background:Tan}}
@media (min-width:1322px){body{background:RosyBrown}}
@media (min-width:1332px){body{background:SandyBrown}}
@media (min-width:1342px){body{background:Goldenrod}}
@media (min-width:1351px){body{background:DarkGoldenrod}}
@media (min-width:1361px){body{background:Peru}}
@media (min-width:1371px){body{background:Chocolate}}
@media (min-width:1380px){body{background:SaddleBrown}}
@media (min-width:1390px){body{background:Sienna}}
@media (min-width:1400px){body{background:Brown}}
@media (min-width:1409px){body{background:Maroon}}
@media (min-width:1419px){body{background:White}}
@media (min-width:1429px){body{background:Snow}}
@media (min-width:1438px){body{background:HoneyDew}}
@media (min-width:1448px){body{background:MintCream}}
@media (min-width:1458px){body{background:Azure}}
@media (min-width:1467px){body{background:AliceBlue}}
@media (min-width:1477px){body{background:GhostWhite}}
@media (min-width:1486px){body{background:WhiteSmoke}}
@media (min-width:1496px){body{background:SeaShell}}
@media (min-width:1506px){body{background:Beige}}
@media (min-width:1515px){body{background:OldLace}}
@media (min-width:1525px){body{background:FloralWhite}}
@media (min-width:1535px){body{background:Ivory}}
@media (min-width:1544px){body{background:AntiqueWhite}}
@media (min-width:1554px){body{background:Linen}}
@media (min-width:1564px){body{background:LavenderBlush}}
@media (min-width:1573px){body{background:MistyRose}}
@media (min-width:1583px){body{background:Gainsboro}}
@media (min-width:1593px){body{background:LightGray}}
@media (min-width:1602px){body{background:Silver}}
@media (min-width:1612px){body{background:DarkGray}}
@media (min-width:1622px){body{background:Gray}}
@media (min-width:1631px){body{background:DimGray}}
@media (min-width:1641px){body{background:LightSlateGray}}
@media (min-width:1651px){body{background:SlateGray}}
@media (min-width:1660px){body{background:DarkSlateGray}}
@media (min-width:1670px){body{background:Black}}