
body {
  overflow: hidden;  
  font-size: 12vw;
  font-weight: 700;
}

.think {
  position: absolute;
  left: 0;
  bottom: 0;
  transform:translateY(100%) rotate(-90deg);
  transform-origin: 0 0;
}
.more {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-.15em) rotate(0deg);
}
.design {
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 0 0;
  transform: translateX(100%) rotate(90deg);
}
.less {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(-.05em) translateY(.15em);
}

.signature {
  font-size: 25px;
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
  text-align: center;
  font-weight: normal;
}
.signature strong{
  font-weight: normal;
}

.less {
  
  animation: muchless 100ms ease infinite alternate; 

}

@keyframes muchless {
  0%{color:white}
  10%{color:black}
  100%{color:black}
}