* { box-sizing: border-box; }
html,body {
    font-size: 6pt
}
@page {
    size: A3;
    margin: 0;
    margin: 1em;
}
body{
    margin: 0;
    font-family: sans-serif;
}

p {
    page-break-inside: avoid;
    break-inside: avoid;
    font-size: 66pt;
    height: 40cm;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 1em;
    text-transform: uppercase;
}
p:first-child {
    position: fixed;
    font-size: 18pt;
    width: 100%;
    bottom: 2cm;
    height: auto;
}
p:first-child br {display: none;}
section {
    height: 40cm;
}

