@font-face {
  font-family: "Sprat";
  src: url("/web/assets/fonts/Sprat_Variable.woff2") format("woff2 supports variations"), 
      url("/web/assets/fonts/Sprat_Variable.woff2") format("woff2-variations");
  font-style: normal;
  font-weight: 100 200;
}
main h1, main h2, main h3, main h4 {
  text-align:center;
  font-family: "Sprat";
  margin: 0;
  font-weight: 100;
  font-variation-settings: 'wdth' 115;
  font-size: 2em;
}
main header:first-of-type {        
  display:flex;
  justify-content: center
}
main h1 { font-size: calc(4vw + 1em); font-variation-settings: 'wdth' 200; text-transform: uppercase; padding:0; margin-top:1em}
main h2, section h2, hr + h2 { font-variation-settings: 'wdth' 150; font-size:1.5em; margin-bottom:1em }
main h2 span{
  border-bottom:4px double;
}
main h3 { font-variation-settings: 'wdth' 100; border:none; padding:0; margin-bottom:1em}
hr {
  margin:4em auto;
  width:4em;
  background:none;
  border:none;
  border-top:3px solid black; 
}

#cil { 
  font-size:.7em;
}
#cil h1 { font-size: calc(2vw + 1em); font-variation-settings: 'wdth' 120; }
main p, main h2 + p, blockquote, main figure { 
  margin-left:auto;
  margin: 1em auto
}
figure {
  max-width:650px
}
figcaption {
  font-size:.75em; 
  color:#777;
  text-align:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a { text-decoration: none;}
h6 {
  text-align:center;
  font-weight:normal;
  font-family: "Sprat";
  font-size:2.5em;
  margin:0
}
h6 em {
  font-variation-settings: 'wdth' 150, 'wght' 100; font-style:normal
}
h6:last-of-type{
  margin-bottom:4em
}
.objectif{
  font-variation-settings: 'wdth' 150; font-size:1.5em 
}
.objectif1{
  font-variation-settings: 'wdth' 200, 'wght' 100; font-size:2.5em;  text-transform: uppercase;
}
.objectif2{
  font-variation-settings: 'wdth' 50, 'wght' 900; font-size:4.5em 
}
.objectif3{
  font-variation-settings: 'wdth' 50, 'wght' 100; font-size:2.5em ;  text-transform: uppercase;
}
blockquote {
  margin-bottom: 2em;
}

.cyborgs {
  max-width: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: #110d1c;
  flex-direction: column;
  background: rgb(255,255,255);
  background: radial-gradient(circle at 20% 12%, rgba(255,255,255,1) 0%, rgb(11, 20, 22) 100%); 
}
.cyborgs::after{
  content:"";
  background: radial-gradient(circle at 20% 12%, #F69, #00F);
  display: block;
  position: absolute;
  z-index: 0;
  mix-blend-mode: color;
  top:0;right:0;bottom:0;left:0;
}
.cyborgs img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  margin: 1em -2rem;
  mix-blend-mode: multiply;
  object-position: 20% 12%;
}
.cyborgs p {
  text-align: center;
  line-height:1.1;
  font-family: "Sprat";
  font-variation-settings: 'wdth' 150, 'wght' 10; 
  font-size:2.5em ;  
  position: relative;
  color: #fff;
  margin: 0 auto;
  padding: 4em 0 2em;
  z-index: 1;
}
blockquote cite {
  display: block;
  margin:1em auto;
  text-align: center;
  line-height: 1.4;
  width: 40%; 
  color: rgba(255,255,255,.6);
  font-size: .75rem;
  font-style: normal;
  font-family: 'Ecole', sans-serif;
  position: relative;
  z-index: 1;
}
.button{
  border:1px solid;
  padding: .25em;
  background:white;
  display:block;
  width:13em;
  box-shadow:5px 5px;
  font-size:2em;
  margin:1em auto 0
}
.button span{
  display:block;
  text-align:center;
  font-family: "Sprat";
  text-transform:uppercase;
  border:3px solid;
  padding: .5em .75em;
  font-variation-settings: 'wdth' 150, 'wght' 100; font-style:normal;
}

section { margin-bottom: 2em;}
h3 {
  margin: .5em 0 1em
}

main a[href*="exemple"] {
  background: unset;
  padding: unset;
  border-radius: unset;
  border: unset;
  text-decoration: none;
}
main a[href*="exemple"]::after {
  content: "";
}
/* .scrollables {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem 2rem;
  padding: 2rem;
  max-width: none;
  background:#222;
  margin: 0 -2rem
} */
.scrollables a{
  display:block;
  border:none;
  
}
.scrollables img {
  display: block;
  height: calc(400px - 3em);
  
}

.scrollables figure { 
  width: calc((400px - 3em) / 1.778);
  margin: 2rem 0 3rem 2rem;
  position: relative;
}
/* carousel height */
.scrollables {
  background:#222;
  margin: 0 -2rem;
  padding-left: 2rem;
}

.scrollables figcaption { 
  position:absolute;
  font-size:.75em; 
  color:#777;
  bottom:-2.5em;
  padding: 1em 0 0 0;
  text-align:center;
  width:100%;
}
.scrollables p + p { margin-top: .5em;}




footer{
  margin-top: 6em;
  text-align: center;
}
footer + footer{
  margin-top: 0;
}

.fluide {
  max-width: none;
  background: radial-gradient(circle at 20% 12%, #F69, #00F);
  font-size: calc(3vw + 1em);
  text-align: center;
  line-height: 1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Sprat";
  font-variation-settings: 'wdth' 150, 'wght' 100; font-style:normal;
  margin-bottom: 1em;
}
.fluide p {
  max-width: none;
  margin-bottom: 0;
}
.animated {
  animation: neon1 1.5s ease-in-out infinite alternate;
}
@keyframes neon1 {
  from { text-shadow: 0 0 .40em #F69, 0 0 .70em #F69, 0 0 .80em #F69, 0 0 1.00em #F69, 0 0 1.50em #F69; }
  to   { text-shadow: 0 0 .20em rgb(74, 101, 250), 0 0 .35em rgb(74, 101, 250), 0 0 .40em rgb(74, 101, 250), 0 0 .50em rgb(74, 101, 250), 0 0 .75em rgb(74, 101, 250); }
}