.gridlist {  font-size: clamp(1.5em,2vw,2.5em); line-height: 1; }
.gridlist ul { grid-gap: 2rem; }
.gridlist a { text-decoration: none; }
.gridlist a::before {
  content: "";
  display: block;
  aspect-ratio: 16/9;
  background: var(--color, #000);
  margin-bottom: 1rem;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
}
@font-face {
  font-family: emoji;
  src: url("/web/assets/fonts/emoji.woff2") format("woff2");
}

#htsh {--color: #BEE1F0; }
#htsh:before { content: "⤙";}
#pechakucha {--color: #AF96DC; }
#pechakucha:before { content: "🗯"; font-family: emoji, Ecole, sans-serif;}
#webradiola {--color: #BEBEBE; }
#webradiola:before { content: "🕪"; }
#zones {--color: #E8CEAB; }
#zones:before { content: "❡";}
#programmation {--color: #F8D0C7; }
#programmation:before { content: "∭"; }
#storytellers {--color: #FDD652; }
#storytellers:before { content: "🗨"; font-family: emoji, Ecole, sans-serif;}
#portfolio {--color: #FF5B13; }
#portfolio:before { content: "👀"; font-family: emoji, Ecole, sans-serif;}
#textedit {--color: #EF2814; }
#textedit:before { content: "T";}
#perfuction {--color: #855A3C; }
#perfuction:before { content: "☠"; font-family: emoji, Ecole, sans-serif;}
#micromedia {--color: #928505; }
#micromedia:before { content: "⎙"; }
#cv {--color: #B0B685; }
#cv:before { content: "👋"; font-family: emoji, Ecole, sans-serif;}
#memoirevive {--color: #00B25B; }
#memoirevive:before { content: "🧠"; font-family: emoji, Ecole, sans-serif;}
#figures {--color: #1997D7; }
#figures:before { content: "😶"; font-family: emoji, Ecole, sans-serif;}
#lasn {--color: #7d5bed; }
#lasn:before { content: "⌥";}
#neogeo {--color: #FDD652; }
#neogeo:before { content: "◘";}
#deambulations {--color: #BEE1F0; }
#deambulations:before { content: "↝";}

#micromedia::before {
  background: url("micromedia/assets/thisisfine.png");
  background-position: -5px -91px;
  background-size: 210%;
  content: "";
}