@font-face {
  font-family: "Pappardelle";
  src: url('../fonts/PappardelleV2-Regular.woff2') format("woff2"),
       url('../fonts/PappardelleV2-Regular.woff') format("woff");  
  font-style: normal;
  font-weight: normal;
}

#welcome{
  position: absolute;
  /* z-index: 0;
  font-family: "Pappardelle";
  font-size: 350vh;
  line-height: calc(100vh - 2rem);
  color: tomato;
  text-transform: uppercase; */
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: multiply;
}
#welcome svg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  object-fit: contain;
  object-position: center 0;
}



.pane.home { 
  display: flex; 
  align-items: stretch;
  left: 12em !important;
  padding-bottom: 2rem !important;
  position: relative;
  border-left: none;
  width: calc(100% - 12rem) !important;
  flex-direction: column;
}
.homelinks a {
  position: absolute;
  border: 4px solid #000;
  background: #fff;
  line-height: 1;
  padding: .25em;
  opacity: 0;
  transition: all 250ms ease-out;
}

.homelinks {
  flex: 1;
  position: relative;
}

.homelinks.ressources .ressources { border-color: tomato; color: tomato;}
.homelinks .ressources:hover { color: #fff; border-color: tomato; background: tomato; z-index: 1;}

.homelinks.references .references { border-color: DeepSkyBlue; color: DeepSkyBlue;}
.homelinks .references:hover { color: #fff; border-color: DeepSkyBlue; background: DeepSkyBlue; z-index: 1;}

.homelinks.lectures .lectures { border-color: blueviolet; color: blueviolet;}
.homelinks .lectures:hover { color: #fff; border-color: blueviolet; background: blueviolet; z-index: 1;}

.homelinks.exemples .exemples { border-color: DarkSeaGreen; color: DarkSeaGreen;}
.homelinks .exemples:hover { color: #fff; border-color: DarkSeaGreen; background: DarkSeaGreen; z-index: 1;}

.homelinks.projets .projets { border-color: DeepPink; color: DeepPink;}
.homelinks .projets:hover { color: #fff; border-color: DeepPink; background: DeepPink; z-index: 1;}

.homelinks.culturenum .culturenum { border-color: yellowgreen; color: yellowgreen;}
.homelinks .culturenum:hover { color: #fff; border-color: yellowgreen; background: yellowgreen; z-index: 1;}

.homelinks.done a { opacity: 1; }
.homelinks a:hover { z-index: 2; }
.lastlinks {
  margin: -.2em 0 1em;
}
.lastlinks span {
  background: tomato;
  color:white;
  font-size: .65em;
  text-transform: uppercase;
  padding: .15em .25em .1em;
  border-radius: 3px;
  position: relative;
  top:-.15em;
  line-height: 1em;
}
.home .visite {
  margin-bottom: 1em;
  position: relative;
}
@media only screen and (max-width: 45em) {

  .pane.home {width: 100% !important;}
  
  .homelinks a {
      position: static !important;
      display: inline-block;
      margin: 0 .25em .25em 0;
  }
}



.snowflake{
  animation: rotate 5s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  100% {transform: rotate(360deg);}
}


.u {
  font-size: calc(1rem + 6vw);
  line-height: calc(20vh);
  max-width: none;
  color: black;
  font-weight: bold;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: -.275em;
  gap: .5em;
}


  
    
@font-face { font-family: "Authentic"; src: url("../fonts/AUTHENTICSans-Condensed-90.woff2") format('woff2'); font-weight: normal; }
  .strike {
    line-height: 1.2;
    --p-width:none;
    position: fixed;
    right:3rem;
    top: 3rem;
    background: hotpink;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width:12em;
    height:12em;
    border-radius: 50%;
    align-items: center;
    justify-content:center;
    box-shadow: -8px 8px 8px purple;
  }
  @media (max-width:850px) {
    .strike {
      top: auto;
      bottom:  1rem;
      right: 1rem;
      font-size: .65em;
    }
  }
  .strike p {
    display: inline;
    text-align: center;
  }
  .strike a { color: white}
  .bigbuttonstrike:hover {
    background: rgb(223, 68, 219);
  }
  .strike p { margin: 0; }
  .strike p + p { text-indent: 2em; }
  #esadsenlutte {
    border:none
  }
  #esadsenlutte img   {
    position: fixed;
    height:calc(100vh - 6em);
    top:3em;
    left:50%;
    transform: translateX(-50%);
    box-shadow: -8px 8px 8px tomato;
    z-index: 9999;
  }

/* big JR CARPENTER quote */
blockquote{
  margin: 0;
  /* font-family: sans-serif; */
  font-style: normal;
  text-transform: uppercase;
  font-size: min(5vmax, 8vmin);
  font-size: max(6vmax, 9vmin);
  line-height: 1;
  /* letter-spacing: .1em; */
  text-align:justify;
  max-width: none;
  font-family: "Authentic";
  color: black;
}
blockquote.hidden {
  visibility: hidden;
  /* color: red; */
}
blockquote cite {
  font-size: 25%;
  letter-spacing: 0.05em;
  display: inline-block;
  line-height: 1;
  font-style: normal;
}
.rad {
  font-style: italic;
}
blockquote strong {
  text-decoration: underline;
  font-weight: normal;
  text-decoration-color: #ff6347;
  text-decoration-thickness: .75em;
  text-underline-offset: -.75em;
}