
:root {
    --p-width: 650px; 
    --sn-width: 250px;
    --sn-margin: 50px;
    --family: 'Ecole', sans-serif;
    --headerwidth: 3rem;
}

*, *::before, *::after { box-sizing: border-box; }
html {
    color: #444;
    font-size: 1em;
    line-height: 1.5;
  font-family: 'Inter', sans-serif;
  font-family: var(--family);
}

::-moz-selection { background: #b3d4fc; text-shadow: none;}
::selection { background: #b3d4fc; text-shadow: none;}

body {
    display: flex;
    /* width: calc(100vw + 6rem); */
    overflow-x: hidden;
    margin: 0 0 0 0;
}
h1, h2, h3 {
    color: black
}


hr  {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul { list-style: none; padding: 0; margin: 0 0 1.4em; }
a { color: inherit; border-bottom: 1px solid #ccc; text-decoration: none; }

a:hover { color: tomato;}
nav button {
    color: inherit; text-decoration: none;
    background: none;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: left;
    display: inline-block;
    cursor: pointer;
}
#mainnav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pane {
    background: white;
    height: 100vh;
    border-left: 2px solid #000;
    transition: transform 150ms ease-out;
    padding: 2rem 1.5rem;
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0;
    left: 3rem;
    width: auto;
}
.pane.active { display: block; }
.active ~ .active { transform:translateX(4rem); }
.active ~ .active ~ .active { transform:translateX(8rem); }
.active:hover ~ .active { transform:translateX(10rem); }
.active:hover ~ .active ~ .active { transform:translateX(14rem); }
.active ~ .active:hover ~ .active { transform:translateX(14rem); }
.active ~ .active ~ .active ~ .active { transform:translateX(12rem); }
.active:hover ~ .active ~ .active  ~ .active { transform:translateX(18rem); }
.active ~ .active:hover ~ .active  ~ .active { transform:translateX(18rem); }
.active ~ .active ~ .active:hover  ~ .active { transform:translateX(18rem); }
.active ~ .active ~ .active ~ .active ~ .active { transform:translateX(16rem); }

.active ~ #content { width: calc(100% - 3rem - 4rem); }
.active ~ .active ~ #content { width: calc(100% - 3rem - 8rem); }
.active ~ .active ~ .active ~ #content { width: calc(100% - 3rem - 12rem); }
.active ~ .active ~ .active ~ .active ~ #content { width: calc(100% - 3rem - 16rem); }
nav.pane{
    max-width: 10rem;
    user-select: none;
}

/* nav li {
    line-height: 1.25;
    margin-bottom: .5em;
} */

.nav-help-manicule {
font-weight: bold;
}

.nav-help-mobile {display: none;}
@media (max-width:40em){
    .nav-help-mobile {display: unset;}
    .nav-help-desktop {display: none;}
}
#content{
    position: absolute;
    padding: 2rem 2rem 6rem;
    overflow: auto;
    overflow-x: hidden;
}

#content > :last-child {
    margin-bottom: 4em;
}
#iframe{
    height: 100%;
    width: 100%;
    border: none;
}
video,
img {
    max-width: 100%;
    height: auto;
}

.yt { position: relative;  aspect-ratio:16/9;  max-width:var(--p-width); overflow: hidden; }

.yt iframe, .yt object, .yt embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vh;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
    background: black;
    color: white;
    padding: .5em 2rem;
    height: var(--headerwidth);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
#header h1, #header h2 {
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
    color: white
}
#header h1 { float: right; }
#header a{
    text-decoration: none;
    border: none;
}
nav h2,
nav h3 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}
nav .mixitup-control-active,
nav .opened {font-weight: bold;}

nav ul {
    line-height: 1.15;
}
nav li {
    margin-bottom: .35em;
}

.contextsub {
    display: none
}
.opened .contextsub {
    display: block;
    font-weight: normal;
    padding-left: 1em
}

main h1 { font-size: 1.4rem; margin-top: 1em; padding-top: 2rem;}
main > h1:first-of-type { margin-top: 0; padding-top: 0; }

main h2 {
    line-height: 1.2; 
    display: block;
    margin-top: 2em;
    font-size: 2em;
    font-weight: 400;
    scroll-margin-top: 1em;
}
main h2 + p { margin: 0em 0 .5em }
main h1 + h2 { margin-top: 1em; }

main h3 { line-height: 1.2; font-size: 1.2rem; border-left: 10px solid black; padding-left: 1em; margin:2em 0 .5em }
main h4 { font-size: 1rem; margin:2em 0 .5em }

main h3 + p,
main h4 + p { margin-top: 0}

main h5 {
    font-size: 1em;
    margin-bottom: 0;
    font-weight: normal;
}
main h6 {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

section ul { margin-bottom: 2em}

table {
    border: none;
    border-collapse: collapse;
    margin-bottom:  .5em
}
td, th { padding-right: 2em; text-align: left; }
tr {
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}

p, figure,
blockquote, ol, ul { max-width: var(--p-width)}

p, blockquote {
 orphans: 2;
 widows: 2;
}
figure{
    margin: 1.5em 0;
}
figcaption {
    margin-left: 0;
    /* font-style: italic; */
    /* font-family: Georgia; */
    /* text-align: center; */
    font-size: .85rem;
    padding: 0 2em;
}
figcaption::before { content:  "↑ ";}
blockquote, q {
    quotes: none;
}
q em,
blockquote em {
    font-style: normal;
}
q,
blockquote {
    margin-left: 0;
    font-style: italic;
    /* font-family: Georgia; */
}
sup { line-height: 1;}

pre, code {
    font-family: 'Fira Code';
    font-variant-ligatures: none;
    overflow-x: auto;
}
pre code { font-size: .85em; }
li code,
p code,
td code {
    background: #eee;
    }
h5.filename {
    margin: 0;
    background-color: #272822;
    color: #ccc;
    border-bottom: 1px solid #75715e;
    font-weight: normal;
    margin: 0 -40px;
    padding: 0.5em 40px !important;
}   
h5.filename + pre {
    margin-top: 0;
}  

pre:not([markdown="0"]) {
    margin: 1em -40px;
}
pre .hljs {
    padding: 0.5em 40px !important;
}
details[open] div {
    border: 2px solid;
    padding: 1em;
    max-width: var(--p-width)
}
details[open] div > :first-child{ margin-top: 0;}
details[open] div > :last-child{ margin-bottom: 0;}
details summary {
    cursor: pointer;
}
.edit{
    animation: 250ms linear alternate infinite edit;
}
@keyframes edit {
    0%{ color: inherit; }
    50%{ color: inherit; }
    100%{ color: tomato; }
}


.new::after{
    content: "NEW";
    font-size: .75em;
    background: tomato;
    padding: 0.1em .25em;
    line-height: 1;
    color:white;
    display: inline-block;
    margin: 0 .5em;
    color: white;
    border-radius: 3px;
    font-weight: normal;
    font-family: monospace, serif;
    vertical-align: top;
    letter-spacing: .05em;
    transform: rotate(-7deg);
}

.blink{
    animation: 1000ms linear alternate infinite blink;
}
@keyframes blink {
    0%{ color: inherit; }
    80%{ color: inherit; }
    100%{ color: tomato; }
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.gridlist ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem 2rem;
    padding-left: 0;
    max-width: none;
}
.gridlist li { list-style-type: none; padding: 0; margin: 0;}
.gridlist p { margin: 0;}
.gridlist p + p { margin-top: .5em;}
/* examples grid */
.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
}


/* notes */
.sn-toggle{display:none; }
.sn-toggle:checked + .sn-note{display:block}
.sn-toggle-label,sup a.footnote-ref{padding:0 0 .25em .15em;font-size:.75em;top:-.5em;position:relative;text-decoration:none;border:none}
.sn-note::before{display:block;content:attr(data-ref);position:absolute;margin-left:calc(var(--sn-margin) * -1);width:var(--sn-margin);text-align:right;padding-right:.75em;}
sup[id^=fn]{vertical-align:baseline}
sup a.footnote-ref{color:#ff6347;font-weight:700}
.sn-note{font-family: var(--family);top:.25em;font-size:.85rem;float:right;clear:right;width:var(--sn-width);margin-right:calc(var(--sn-width) * -1);margin-bottom:1rem;padding-left:var(--sn-margin);position:relative; font-style: normal;}
.sn-note em, .sn-note i { font-style: italic;}
.sn-note :first-child{margin-top:0}
.sn-note img {display: block;}
.sn-note p {margin: 0;}
.sn-note .caption{
    display: block;
    margin-top: .25em;
}
.sn-note .caption::before { content:  "↑ ";}

@media (max-width:1250px) {
    .sn-note{display:none}
    .sn-toggle:checked + .sn-note{display:block; width:100%;float:none;clear:both;margin:1em 0;top:0}
    label[for^="sn-"]{color:#ff6347;cursor:pointer;font-weight:700}
}

/* default footnotes (no js) */
.footnotes{max-width:var(--p-width);margin-top:2em;padding-top:1em}
.footnotes ol{font-size:.85em;padding-left:1em}
.footnotes :target{background:#ff0}
.footnotes hr{background:none;border:none;margin:0;width:4em}
.footnotes::before{content:'—'}



/* typeset */
.typeset big{
    font-size: 2.25em;
    font-size: clamp(1.5em, 4vw,2.25em);
    line-height: 1.2;
    font-family: 'Syne';
}
.typeset big + br{
    margin-bottom: .5em;
}



/* examples */

.exemples .exemple{
    border: none;
    display: block;
    position: relative;
    order: var(--order);
}
.exemple .download{
    position: absolute;
    z-index: 8;
    background: white;
    color: black;
    padding: 1em;
    top: -1.25em;
    right: -1em;
    border: none;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: .1em;
    display: none;
}
.exemple:hover .download{
    display: block;
}
.exemple .download:hover{
    color: red;
}
.exemples .exemple h2 {
    display: block;
    background: none;
    color: inherit;
    font-weight: normal;
    font-size: .85rem;
    line-height: 1.2;
    padding:0;
    margin: .25em 0 0;
}
.exemples .exemple span{
    background: rgba(0,0,0,.8);
    display: block;
    width: 100%;
    height: 10vw;
    position: relative;
}
.exemples .exemple img{
    opacity: .95;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.exemples .exemple strong {
    background: rgba(0,0,0,.8);
    opacity: 0;
    color: white;
    position: absolute;
    padding: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: opacity 100ms ease-out;
}
.exemples .exemple:hover strong{
    opacity: 1;
}
@media (max-width:40em){
    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    .exemples .exemple span{ height: 20vw }
}
/* el highlighting */

.el { position: relative; border: 2px solid black; padding: 20px 50px; background: white}
.el:before, .el:after{
    position: absolute;
    background: black;
    color: white;
    font-size: .85rem;
    }
.el:before { top:0; left: 0; }
.el:after  { bottom:0; right: 0; }

div.el:before { content: '<div>'}
div.el:after { content: '</div>'}
nav.el:before { content: '<nav>'}
nav.el:after { content: '</nav>'}
section.el:before { content: '<section>'}
section.el:after { content: '</section>'}
article.el:before { content: '<article>'}
article.el:after { content: '</article>'}
p.el:before { content: '<p>'}
p.el:after { content: '</p>'}

div.el.box:before { content: '<div class="box">'}
div.el.col:before { content: '<div class="col">'}

span.el:before { content: '<span>'}
span.el:after { content: '</span>'}
    span.el { padding: 0; line-height: 1; display: inline-block; line-height: 1}
    span.el:before, span.el:after { position: static; }
    span.el:before { margin-right: .25em} span.el:after { margin-left: .25em}

.el p { max-width: 600px}
.el.no-padding { padding: 0}
.el.no-label:before, .el.no-label:after { display: none; }

ul.list{
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0
}


#randomramdam { position: relative; /* overflow: hidden; */}
#randomramdam span {
    position: relative;
    font-size: calc(6vw + 3rem);
    font-weight: bold; color: black; line-height: .8;
    transition:all 200ms ease-out;
    display: inline-block;
    opacity: 0;
}

#randomramdam span.brbrbr {
    opacity: 1;
    animation: brbrbrbr linear .2s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    }

@keyframes brbrbrbr {
    0%    { transform:  translate(0px,0px) }
    33%   { transform:  translate(1px,0px) }
    66%  { transform:  translate(-1px,0px) }
    }


.bigbutton {
    background: black;
    display: inline-block;
    padding: .75em 1.5em .5em;
    color: white;
    border: none;
    border-radius: .25em;
    text-transform: uppercase;
    margin-top: 2em;
    font-family: inherit;
}
.bigbutton:hover{
    background: tomato;
    color: white;
}





@media only screen and (max-width: 45em) {
    body {
        display: block;
        margin: 0 0 0 3rem;
    }
    .pane {
        background: white;
        height: auto;
        border-top: 2px solid #000;
        border-left: none;
        transition: transform 150ms ease-out;
        padding: 2rem 1.5rem;
        overflow: hidden;
        display: none;
        position: static;
        top: 0;
        left: var(--headerwidth);
        width: auto;
    }
    #content{
        position: static;
        padding: 2rem 1.5rem;
    }
    nav.pane {
        max-width: 100%;
        padding: 1rem 1.5rem;
        background: #eee;
    }
    nav ul {
        margin: 0;
    }
    nav li, nav h3, nav ul {
        display: inline;
        line-height: 1.5;
    }
    .pane.active { display: block; }
    .active ~ .active { transform:none}
    .active ~ .active ~ .active { transform:none}
    .active:hover ~ .active { transform:none}
    .active:hover ~ .active ~ .active { transform:none}
    .active ~ .active:hover ~ .active { transform:none}
    .active ~ .active ~ .active ~ .active { transform:none}
    .active:hover ~ .active ~ .active  ~ .active { transform:none}
    .active ~ .active:hover ~ .active  ~ .active { transform:none}
    .active ~ .active ~ .active:hover  ~ .active { transform:none}
    .active ~ .active ~ .active ~ .active ~ .active { transform:none}

    .active ~ #content,
    .active ~ .active ~ #content,
    .active ~ .active ~ .active ~ #content,
    .active ~ .active ~ .active ~ .active ~ #content { width: 100%}
}

@media only screen and (max-width: 40em) {
    body {
        display: block;
        margin: 0 ;
    }
    #header {
        position: static;
        width: 100%;
        transform: none;
        padding: .5em 2rem;
        height: 3rem;
        display: flex;
        padding: 1.5rem 1.5rem 1rem;
    }
}


@media only screen and (max-width: 27em) {
    #content,
    nav.pane,
    .pane,
    #header {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *, *:before, *:after { background: transparent !important; color: #000 !important; /* Black prints faster */ -webkit-box-shadow: none !important; box-shadow: none !important; text-shadow: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    a[href^="#"]:after,
    a[href^="javascript:"]:after { content: ""; }
    pre { white-space: pre-wrap !important; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}


#debug{
    height: 100vh;
    width: 50vw;
    overflow: scroll;
    background: white;
    position: absolute;
    z-index: 5555;
    border-left: 2px solid;
    font-size: .5em;
    padding: 4em;
    right: 0;
}
#debug p { margin: 0;}



/* specials */
#alarme {
    position:fixed; 
    background:black; 
    inset:0; 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    color:white; 
    padding:1em;
    flex-direction: column;
    z-index: 2;
}
@media (max-width:850px) {
    #alarme br { display: none;}
    #alarme {}
}