* {
  margin: 0;
}
html, body {
  height: 100%;
  display: grid;
  place-content: center;
  overflow: hidden;
}

img {
  cursor: pointer;
}

audio, video, img, p {
  display: none;
}

.visible {
  display: block;
}

p {
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: .5em;
}