body {
    font-family: "Input Mono", monospace;
    font-size: 13px;
}

/*  un wrapper assez haut pour qu’on scrolle */
.wrapper {
    width: 100%;
    height: 150em;
}

img {
    mix-blend-mode: multiply;
}
/* tous les éléments dont la classe *commence par* “speed” */
[class^="speed"]{
  position: fixed;
}
/* la variable --y est transmise au body par le js */
.speed-1 {transform: translateY(calc(var(--y) * -0.1));}
.speed-2 {transform: translateY(calc(var(--y) * -0.4));}
.speed-3 {transform: translateY(calc(var(--y) * -0.6));}
.speed-4 {transform: translateY(calc(var(--y) * -0.9));}


p {text-align: center; width: 100%}
p.speed-1{top:calc(50vh + 3em); font-size: 100%}
p.speed-2{top:calc(50vh - .25em); font-size: 125%}
p.speed-3{top:calc(50vh - 2.5em); font-size: 150%}
p.speed-4{top:calc(50vh - 4em); font-size: 180%}
