/* CSS */
html, body { height: 100%}

body { font-size: 50px; margin: 0}

* { 
      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

#salut { height: 200px; width: 800px; margin: 0 auto; text-align: center; z-index: 3}
span { position: relative; transition: all 200ms;}

#btn { position: fixed; right: 50%; top:50%; z-index: 4; transition: transform 500ms;}
#btn:hover{transform: rotate(790deg);}