<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout paterns</title>
  <link rel="stylesheet" href="typography.css">
  <style>
    body{
      margin: 50px;
    }
    .info{line-height: 2;}
  </style>
</head>
<body>

  <article>
    <nav>
      <a href="sidebar.html">sticky sidebar</a>
        <a href="sticky.html">top header</a>
        <a href="split.html">split screen</a>
        <a href="imagesgrid.html">images grid</a>
        <a href="imagesline.html">images line</a>
    </nav>
    <aside class="info">
      <h3>⚠️  Ressources</h3>
      <p>
        <a href="https://developers.google.com/web/fundamentals/design-and-ux/responsive/patterns">responsive patterns</a><br>
        <a href="https://flexboxsheet.com/">flexboxsheet</a><br>
        <a href="https://tobiasahlin.com/blog/common-flexbox-patterns/">flexbox patterns</a><br>
        <a href="https://csslayout.io/">csslayout.io</a><br>
      </p>
    </aside>
  </article>
    
</body>
</html>