
.ex1 * { padding:1em;}
.ex1 section {
    background:#a9d0fd;
  display: grid;
  grid-template-columns: 150px 500px;
}
.ex1 article {
    background:#f3c986;
    grid-column: 2;  
}
.ex1 aside {
    background:#c1bdf7;
    grid-column: 1;
}
.ex2 * { padding:1em; }
.ex2 {
    background:#a9d0fd;
    display: grid;
    grid-template-columns: 150px 500px;
    grid-template-rows: 100px 200px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
nav {
    background:#d1e5fd;
  grid-column: 1; grid-row: 1;
}
section {
  grid-column: 2; grid-row: 1;
  background:#ed8e92;
}
aside {
  grid-column: 1; grid-row: 2;
  background:#c1bdf7;
}
article {
  grid-column: 2; grid-row: 2;
  background:#f3c986;
}
.ex3.container * { padding:1em}
.ex3.container {
    background:#a9d0fd;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 60px 300px 100px;
    display: grid;
    grid-template-areas: "h h"
                       "n c"
                       "f f";
}
.ex3 header {
    background:#f3c986;
  grid-area: h;
}
.ex3 nav {
  grid-area: n;
}
.ex3 aside {
  grid-area: c;
}
.ex3 footer {
    background:#ed8e92;
  grid-area: f;
}
.intrinsic{
  border: 1px dashed black;
  padding: 1em;
  resize:both;
  overflow:auto;
  display: grid; 
  gap:.5em;
  /* autant de colonnes que possible (auto-fill), dont la largeur est au minimum 300px */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
}
.intrinsic p { margin: 0; background: #eee; display: flex; justify-content: space-between; padding: .5em;}
.intrinsic p[data-width]::after{
  content: attr(data-width) "px";
}