* { box-sizing: border-box; }
body { 
  display: flex; 
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.images {
  width: 33.33vw;
  background: #000;
  align-self: flex-start;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 1;
  padding: 2em;
  display: flex;
  align-items:center;
  justify-content:center;
}
.images img{
  position: absolute;
  opacity: 0;
  transition: opacity 250ms;
  max-width: calc(100% - 4em);
}
.images img.visible{
  opacity: 1;
}
.text {
  flex:1;
  background: #eee;
  padding: 2em;
  font-size: 3vw;
  line-height: 1.1;
  margin-left: 33.33vw;
  /* padding-left: calc(33.33vw + 2em);  */
  /* équivalent à la largeur de .images */
  position: relative;
}

span[rel]{ width:3em; background: #000; height: .7em; ;display: inline-block;}

p { margin: 0; }
p + p { text-indent: 2em; }
code { font-family: inherit; color: #666;}
code::before {content: "[";}
code::after {content: "]";}
a {text-decoration: wavy underline; color: inherit; text-decoration-thickness: .05em;}