
html, body { height: 100%; margin: 0; }
* { box-sizing: border-box;}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 50px 100px;
    height: 100%;
    font-family: 'Cormorant';
}

@media (max-width:1000px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        padding: 50px;
    }
}

/* source : https://3dtransforms.desandro.com/ */
/* + https://codepen.io/desandro/pen/LmWoWe */

.card {
    /*  définit la “profondeur” de la perspective 3D */
    perspective: 100vw;
    height: 100%;
    cursor: pointer;
}
.card-inner {
    width: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
    /* hack pour ratio spécifique */
    height: 0;
    padding-bottom: 190%; /* ~= hauteur de l’image divisée par sa largeur */
}

.card.is-flipped .card-inner{
    transform: rotateY(180deg);
}

.card-inner  > * {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 10px solid #000;
}

.card-front {
    background: black;
}

.card-back {
    background: white;
    transform: rotateY(180deg);
    padding: 1em 1em;
    /* scroll */
    overflow-y: scroll;
}

/* Styles visuels et typographie */

h2, p { margin: .5em 0;}
img{ width: 100%; height: 100%; object-fit: cover; display: block;}

@font-face {
    font-family: 'Cormorant';
    src: url('Cormorant-Italic.woff2') format('woff2'),
        url('Cormorant-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url('Cormorant-Bold.woff2') format('woff2'),
        url('Cormorant-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('Cormorant-Regular.woff2') format('woff2'),
        url('Cormorant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



