
body{ margin:0}


html, body{
  height:100%;
  overflow-x: hidden;
}
.video {
  background: forestgreen;
  overflow:hidden;
  width: 100%;
  height:100%;
}
video{
  height:100%;
  width:100%;
  object-fit:cover
}
.text {
  padding:4vw
}

@media only screen and (orientation:portrait){
  .video {
    height: 100vh;
    width:100vw;
    transform-origin: 50% 50%;
  }
  video{
    transform: rotate(90deg);
    height:100%;
    width:100vh;
  }
}