
/* —————————————————————————————————————————————————————————————————————— Suisse */
@font-face {
    font-family: 'Suisse';
    src: url('fonts/Suisse_BP_Intl_Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Suisse';
    src: url('fonts/Suisse_BP_Intl_Regular_Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Suisse';
    src: url('fonts/Suisse_BP_Intl_Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Suisse';
    src: url('fonts/Suisse_BP_Intl_Thin.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}




body{
    font-size: 1.5em;
    font-family: 'Suisse', sans-serif;
    background: #000;
    color: white;
}

#page{margin: 40px;}

img{max-width: 100%; max-height: 800px;}

header{
    position: relative;
}
header h1 {
    position: absolute;
    top: 0; left: 0;
    margin: 0;
    width: 150px;
    line-height: 1.1;
}
header h2 {
    margin-left: 150px; 
    line-height: 1.1;
}
article{ 
    margin-left: 150px; 
    position: relative;
}
article > *{
    margin-left: 100px;
}
article h3{
    position: absolute;
    top: 0; left: 0;
    margin-left: 0px;
    margin: 0;
    max-width:  100px;
}
figcaption {
    margin-top: .5em;
    font-size: 1rem; opacity: .7;
}
article, p{
    margin-bottom: 1.5em;
}
section + section {
    margin-top: 3em;
}
p, h3, h2{
    max-width: 30em;
}

.bordered{
    border: 1px solid rgba(255,255,255, .4);
}


.stickit {
    margin-left: 48px;
    position: fixed;
    top: 40px;
}

.stickit-end {
    bottom: 40px;
    position: absolute;
    right: 0;
}