html, body { height: 100%; margin: 0;}

* {
  box-sizing: border-box;
  /* hard reset margins */
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  /* center content: */
  display: grid;
  place-content: center;
  /* offset from body by 50px */
  inset: 0px;
}

#content {
  position: absolute;
  /* size */
  width:300vw;
  height: 300vh;
  /* decoration */
  background-image: radial-gradient(#036080 5%, deepskyblue 5%);
  background-size: 40px 40px;
  /* transformation optimization */
  will-change: transform;
  transition: transform 1s cubic-bezier(0.33, 1, 0.68, 1);
}

span {
  position: absolute;
  font-size: 14vw;
}
span:nth-child(1){top:1em; left:1em}
span:nth-child(2){bottom:1em; left:1em}
span:nth-child(3){top:1em; right:1em}
span:nth-child(4){bottom:1em; right:1em}
span:nth-child(5){top:50%; left:50%; transform:translate(-50%, -50%)}

