
/* --------------------------------------------------- Typographie **/

/* Intégration de Sprat, une fonte variable */
@font-face {
  font-family: "Sprat";
  src: url("fonts/Sprat_Variable.woff2") format("woff2 supports variations"), 
      url("fonts/Sprat_Variable.woff2") format("woff2-variations");
  font-style: normal;
  font-weight: 100 200;
}


/* --------------------------------------------------- Styles communs **/

:root{
  /** une propriété personnalisée (“variable”) qui existe à l’intérieur des sections **/
  --padding: 1rem;
}

body{
  font-family: "Sprat";
  margin:0;
  background: linear-gradient(0deg, #eee, #999 ) no-repeat;
  background-size: 100% 120%;
  /* variation de graisse (wght) et de chasse (wdth) */
  font-variation-settings: 'wdth' 120, 'wght' 100;   
}

/* styles standards */
*, *::before, *::after { box-sizing: border-box;}
a { color: currentColor;}


/* espace interne aux sections */
section { 
  padding: var(--padding); 
}

@media (min-width:40em){
  /** augmentation du padding au de là de 40em de largeur d’écran */
  section { --padding: 2rem }
}


/* --------------------------------------------------- 1re de couv **/

.cover-1  {
  min-height: 100vh;
  /* centrage du contenu à l’intérieur de la couv **/
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  /* position: relative va permettre d’insérer un pseudo-élément positionné en absolu */
  position: relative;
}

.cover-1 h1, 
.cover-1 h2,
.cover-1 h3 {
  margin: 0 0 .5em;
}  
.cover-1 h1 {
  font-size: calc(12vw + 1em); 
  line-height: .9;
  font-variation-settings: 'wdth' 100, 'wght' 200; 
  text-transform: uppercase; 
  margin-bottom: .25em;
}

/* pseudo-élément qui insère une flèche suggérant la possibilité de scroller */
.cover-1::after,
.text h4::after{
  position: absolute;
  font-size: max(1.5vw, 4vh); 
  content: "↓";
  padding: .5em;
  left: 50%; bottom: 0; transform: translateX(-50%);
}


/* --------------------------------------------------- Sections de texte */

.text {
  font-variation-settings: 'wdth' 115, 'wght' 100; 
  line-height: 1.45;  
}
/** lettrine pour le premier paragraphe  */
.drop {
  float: left;
  font-variation-settings: 'wdth' 100, 'wght' 100; 
  font-size: 5.3em;
  margin: 0;
  line-height: .8em;
  margin: 0;
  margin-left: -.025em;
  padding-right: .25em;
  position: relative;
  height: 1em;
}
/** pseudo-élément qui insère une filet sous la lettrine */
.drop::after{
  content: "";
  width: .6em;
  border-bottom: 1px solid #000;
  bottom: 0;
  left:0;
  position: absolute;
}
.text p {
  margin: 0 auto;
  /** Largeur maximale pour les paragraphes  */
  max-width: 40em;
}
.text p + p {
  text-indent: 4em;
}

@media (min-width:40em){
  /** augmentation du font-size et du line-height au de là de 40em de largeur d’écran */
  .text { font-size: 1.15em; line-height: 1.55;   }
}

.text h4 {
  /** mêmes styles que la couverture  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  position: relative;

  /** plus:  */
  background: #666;
  color: white;
  font-variation-settings: 'wdth' 100, 'wght' 100; 
  font-size: 3em;
  text-transform: uppercase;  
  /** marges latérales négatives pour compenser le padding de la section */
  margin: 1em calc(-1 * var(--padding));
}
.text h4::after {
  bottom: 2em;
  color: #ccc;
}


/* --------------------------------------------------- 4e de couv */

.cover-4 {  
  line-height: 1.45;
  background-color: #000;
  color: white;
  padding: var(--padding);
  font-variation-settings: 'wdth' 200, 'wght' 100; 
}

@media (min-width:40em){
  /* augmentation du font-size et du line-height au de là de 40em de largeur d’écran */
  .cover-4 { font-size: 1.15em; line-height: 1.55;   }
}

.cover-4 p, .cover-4 h1 {
  margin: 0;
}
.cover-4 h1 {
  line-height: 1;
  margin: 3em 0 1.5em;
}

@media (min-width:40em){
  /* centrage du h1 et de la byline au de là de 40em de largeur d’écran */
  .cover-4 h1,
  .cover-4 .byline { text-align: center;}
}
.info{
  font-variation-settings: 'wdth' 105, 'wght' 100; 
  margin: 2em auto;
  max-width: 40em;
}
.cover-4 .info p { display: inline; line-height: 1em;}
.cover-4 .info p + p::before { content: "¶ "; }
