
/* Pagination V*/
.pagination-v .swiper-pagination-switch, .pagination-free .swiper-pagination-switch {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #555;
	margin: 0 0px 5px;
	opacity: 0.8;
	border: 1px solid #fff;
}
.pagination-v .swiper-active-switch, .pagination-free .swiper-active-switch {
	background: #fff;
}
.pagination-v, .pagination-free  {
	position: absolute;
	z-index: 20;
	left: 10px;
	top: 10px;
}





.pagination-nested2 {
    right: 5px;
    top: 5px;
	position:absolute;
	z-index:20;
}
.pagination-nested2 .swiper-pagination-switch {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    display: block;
    height: 8px;
    margin: 0 0px 5px;
    opacity: 0.8;
    width: 8px;
}
.pagination-nested2 .swiper-active-switch {
    background: none repeat scroll 0 0 #FFFFFF;
}

